CoreAPIOne/.vs/CoreAPIOne/v15/Server/sqlite3/storage.ide-wal
CoreAPIOne/.vs/CoreAPIOne/v15/Server/sqlite3/storage.ide-shm
CoreAPIOne/.vs/CoreAPIOne/v15/Server/sqlite3/storage.ide
CoreAPIOne/.vs/CoreAPIOne/v15/Server/sqlite3/db.lock
CoreAPIOne/.vs/CoreAPIOne/v15/.suo
CoreAPIOne/.vs/CoreAPIOne/DesignTimeBuild/.dtbcache
CoreAPIOne/.vs/config/applicationhost.config
